@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');


.viewAll {
    width: 250px;
    background-color: #5F6F94 !important;
    border-color: #5F6F94 !important;
    border-radius: 12px !important;
    font-family: 'Poppins';
}
.viewAll:hover {
    background-color: #6378a9 !important;

}

@media (max-width:900px) {
    .top-para h1  {
     font-size: 50px;
    }
  
  }

.formWrap {
  margin: 5% 15%;
  background-color: #e9ebef;
}  

.formWidth {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  align-content: center;
  font-weight: bold;
}
.form-control {
  margin-bottom: 20px;
}
.addnewh1 {
  text-align: center;
}
.addnewbtn {
  width: 200px;
  text-align: center;
  margin-right: 10px;
}


/* searchbar */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);




.search {

  width: 100%;

  position: relative;

  display: flex;

}



.searchTerm {

  margin-left: 15%;

  margin-bottom: 50px;

  width: 60%;

  border: 3px solid #0b434a;

  padding: 5px;

  height: 50px;

  border-radius: 5px 5px 5px 5px;

  outline: none;

  color: #030303;

}



.searchTerm:focus{

  color: #191b1c;

}



/*Resize the wrap to see the search bar change!*/

.wrap{

  width: 30%;

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

}