@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

a {
  text-decoration: none !important;
  font-family: poppins;
}

/* .logo {
  margin-left: 48%;  
} */
.logo img {
  width: 100px;
  height: 100px;
}

